nav#toolbar.fixed(ng-controller='ToolBarController')
    ul.editor-tools(ng-repeat='{{page.toolbar}}',ng-controller='ToolBarController')
        li
            a(ng-click='action()')
                i.icon-file
                span New
        li
            a(ng-click='action()')
                i.icon-folder-open
                span Open
        li
            a(ng-click='action()')
                i.icon-save
                span Save
        li
            a(ng-click='action()')
                i.icon-undo
                span Undo
        li
            a(ng-click='action()')
                i.icon-repeat
                span Redo
        li
            a(ng-click='action()')
                i.icon-support
                span Bug Report
        li
            a(ng-click='action()')
                i.icon-support
                span Help