//
   Created with JetBrains WebStorm.
   User: belegran
   Date: 21/05/13
   Time: 17:37
   To change this template use File | Settings | File Templates.

.notification {
    width   : 100%;
    top     : @headerHeight + @toolbarHeight;
}