extends layout

block body
  #page.container
    .row(ng-controller='IndexCtrl')
      p.hero-unit
        i(class='icon-quote-left icon-4x pull-left icon-muted')
        | Welcome my friend({{name}}), welcome to the Engin.
      div(ng-view)
    hr
    .row.clearfix
      .four.columns.alpha
        h2 Code
        p Edit remote code in your browser, show code changes live.
      .four.columns
        h2 Review
        p Live Preview and html editor.
      .four.columns.omega
        h2 Test
        p Live test your code
      .four.columns.omega
        h2 Build

    footer
      img(src='media/images/engin-logo.png')
      span(app-version)

include partials/comp/modal

  script(src='js/lib/jquery-1.9.1.js')
  script(src='js/lib/jquery-ui-1.9.1.custom.min.js')
  script(src='js/lib/ui-bootstrap-0.3.0.js')
  script(src='js/lib/ui-bootstrap-tpls-0.3.0.js')