!!!
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
    base(href='/')
    title Engin
    meta(name='description',content='')
    meta(name='viewport',content='width=device-width')
    link(href='http://fonts.googleapis.com/css?family=Quicksand|Source+Code+Pro', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/engin.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    script(src='js/libs/modernizr/modernizr.js')
  body(ng-app='engin')

    #menu.fixed
      .row.navbar
        a.logo(href='#')
          i.icon-cog
          | Engin
        ul.nav
          li
            a(href='coder')
              i.icon-code
              | Code
          li
            a(href='fiddler')
              i.icon-edit
              | Edit
          li
            a(href='writer')
              i.icon-cog
              | Review
    block body

    block scripts
