@import "variables.less";
@import "mixins.less";
@import "base.less";
@import "skeleton.less";
@import "layout.less";

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Source Code Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, #menu .logo {
    font-family: 'Quicksand', sans-serif;
    .font-smoothing();
}

#page {
    margin-top: 30px;
    &.index {

    }
    .coder {

    }
    .fiddler {

    }
    .writer {

    }
}

#menu {
    background: black;
    .gradient(#222,#222,#444);
    .drop-shadow();
    height: 36px;
    .row {

    }
    .logo {
        font-size: 26px;
        line-height: 1;
        padding: 2px;
        color: orange;
        text-decoration: none;
        position: absolute;

    }
    a {
        line-height: 36px;
    }
    ul {
        text-align: right;
        li {
            display: inline;
            a
            {
                color: #DDDDDD;
                padding: 6px 10px;
                border-right: dashed 1px white;
                position:relative;
                &:hover
                {
                  color:#ffffff;
                }
                &.active,
                &:active
                {
                  .gradient(#222,#444,#222);
                }
                  &:active:after,
                  &.active:after{
                  display:block;
                    content:'.';
                  width:0;
                  height:0;
                  border-width:6px;
                  border-style: solid;
                  border-color:transparent transparent white transparent;
                  position:absolute;
                  left:50%;bottom:-4px;
                }
            }

            a:last-child {
                border-right-width: 0;
            }
        }
    }
}

#breadcrumbs,
#toolbar {

  background: #CECECE;
  .gradient(#CECECE,#C9C9C9,#DDD);

  height: 24px;

  a {
    line-height: 24px;
  }
  ul {
    text-align: right;
    li {
      display: inline;
      a
      {
        padding:4px;
        i{
          font-size:1.2em;
          margin-right:.3em;
        }
        span{

        }
      }
      }
      }
}

#menu {

}

#folders {
    background-color: #333;
}

#content {
    background-color: #FFF;

}